@tailwind base;
@tailwind components;
@tailwind utilities;

#nprogress .bar {
  background: #383838 !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #383838, 0 0 5px #383838 !important;
}

#nprogress .spinner-icon {
  border-top-color: #383838;
  border-left-color: #383838;
}

.shop .carousel .control-dots {
  top: 0px !important;
  text-align: left;
  padding-left: 10px !important;
}

.dot {
  box-shadow: none !important;
  background: gray !important;
}

.dot:hover {
  background: black !important;
}

.selected {
  background: black !important;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 800px;
  background: white;
  outline: none;
  padding: 20px;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%; /* Adjust the width of the modal */
  height: 100%; /* Adjust the height of the modal */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.modal img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}
